<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="MineSolutions.GourceUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <MineSolutions.GourceUI.Properties.Settings>
            <setting name="GourcePathSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="GitCmdPathSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="GitProjectPathSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="UserImageDirectoryPathSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="BackgroundImagePathSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultUserImagePathSetting" serializeAs="String">
                <value />
            </setting>
        </MineSolutions.GourceUI.Properties.Settings>
        <UI.Properties.Settings>
            <setting name="GourcePathSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="GitPathSetting" serializeAs="String">
                <value />
            </setting>
        </UI.Properties.Settings>
    </userSettings>
</configuration>
